@model IEnumerable<PizzaApplication.Models.Pizza>

    @Html.ActionLink("Add Pizza", "Create", "Pizza")
    <table class="table">
        <thead class="thead-dark"">
             <tr>
               <th>
                  Id
               </th>
               <th>
                   Name
               </th>
               <th>
                  Price
               </th>
               <th>
                  IsVeg
               </th>
           </tr>
        </thead>
      <tbody>
           @foreach (var item in Model)
       {
           <tr>
               <td>
                   @item.Id
               </td>
               <td>
                   @item.Name
               </td>
               <td>
                   @item.Price
               </td>
               <td>
                 @* <input type="checkbox" checked= @item.IsVeg>*@
                 @Html.CheckBoxFor(m=>item.IsVeg,new {@checked=@item.IsVeg})
               </td>
               <td>
                   @Html.ActionLink("Details","Details","Pizza",new{Id = @item.Id})
               </td>
                <td>
                   @Html.ActionLink("Delete","Delete","Pizza",new{Id = @item.Id})
               </td>
           </tr>
       }
      </tbody>
    </table>

