@model task14022022.Models.PurchaseProduct

@{
    ViewData["Title"] = "ProductDetails";
}

<h1>ProductDetails</h1>

    <h4>Product</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </dt>
        <dd class = "col-sm-10">
             <img width="100" length="150" src="@Url.Content(Model.Product.ProductImage)" alt="No Pic">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            SGD @Html.DisplayFor(model => model.Product.ProductPrice)
        </dd>
     </dl>
        <div>
            <form action="Register" method="post">
            <dl>
                 <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PurchaseQty)
                </dt>
                <dd class = "col-sm-10">
                    <input type="number" id="PurchaseQty" name ="PurchaseQty" min="0" onChange="myFunction()" />
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>
                <dd class = "col-sm-10">
                    <p type="text" id="TotalPrice" name="TotalPrice"/>
                </dd>   
                 <hiddenfield name ="Id" value="@Model.Product.ProductId"></hiddenfield>
                <div>
                    <input type="submit" value="Buy" class="btn btn-primary" />
                    @*@Html.ActionLink("Buy", "Purchase", new { id = Model.ProductId}) |*@
                    <a asp-action="Index">Back to List</a>
                </div>
                </dl>
            </form>
        </div>
       


       

<script>
    function myFunction() {
       var quantity = document.getElementById("purchaseQuantity").value;
       var isValid = checkStock(quantity);
       console.log(isValid);
       if(isValid){
            var price =  @Html.Raw(Model.Product.ProductPrice) * quantity;
            document.getElementById("totalPrice").innerHTML = "SGD" + price;
        }
       else{
           alert("Sorry, we have limited stock.");
           document.getElementById("purchaseQuantity").value = 0;
       }
        
    }

    function checkStock(quantity){
        if(quantity > @Html.Raw(Model.Product.ProductQuantity))
            return false;
        return true;
    }
    
   

</script>
